@import '../../styles/variables/variables.scss';

.search--button {
  display: flex;
  padding: $s-xs;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: $bs-md;
  text-shadow: $bs-md;
  border: 2px solid $Bright;
  border-radius: $br-lg;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: 'roboto', sans-serif;
  font-size: $f-xs;
  color: $Bright;
  transition: border 200ms ease-in-out, box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  line-height: 1;

  &:hover,
  &:focus-visible {
    border: 2px solid $Primary;
    outline: none;
    transform: translateY(-0.05rem);
    box-shadow: $bs-hover;
  }

  &.selected {
    background-color: $Primary;
    color: $Bright;
    border: 2px solid $Primary;
    transform: translateY(-0.05rem);
    box-shadow: $bs-hover;
  }
}
