.search--button {
  display: flex;
  padding: 0.5rem 0.5rem;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: 'roboto', sans-serif;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
