@import '../../styles/variables/variables.scss';

.category--container {
  padding: $s-xxxl $s-xxl;
  max-width: 1024px;
  margin: auto;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.category--drink--container {
  display: flex;
  flex-direction: column;
}

.drink--image {
  width: 100%;
  border-radius: $br-md;
  object-fit: cover;
}

.information--container {
  display: flex;
  flex-direction: column;
}

.info--section {
  margin-top: $s-xxl;
}

.description {
  margin-top: 0;
  font-size: $f-lg;
  font-weight: 500;
}

.instruction--paragraph {
  margin-top: $s-xs;
}

.ingredient--list {
  margin-top: $s-xs;
  padding-left: $s-md;
}

.ingredient--list {
  font-weight: 400;
}

.ingredient--msm {
  color: $Primary;
  font-weight: 500;
}

@media (min-width: 480px) {
  .category--drink--container {
    flex-direction: row;
  }

  .drink--image {
    width: 50%;
    height: 350px;
  }

  .information--container {
    padding-left: $s-xxxl;
    width: 50%;
  }
}
