@import '../../styles/variables/variables.scss';

.card {
  display: flex;
  align-items: flex-end;
  box-shadow: $bs-md;
  border-radius: $br-md;
  outline: $b-md;
  text-decoration: none;
  transition: box-shadow 200ms ease-in-out;
  overflow: hidden;
  background-color: $Bright;
  position: relative;
  min-height: 300px;

  &:hover {
    box-shadow: $bs-hover;
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 40%);
    z-index: unset;
  }
}

.card--image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: unset;
  transition: transform 200ms ease-in-out;
}

.card--title--container {
  padding: $s-md;
  z-index: 3;
  width: 100%;
}

.card--title {
  font-size: $f-sm;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.025rem;
  color: $Bright;
  text-transform: uppercase;
}
