@import '../../styles/variables/colors.scss';

.card {
  display: flex;
  align-items: flex-end;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: box-shadow 200ms ease-in-out;
  overflow: hidden;
  background-color: $Bright;
  position: relative;
  min-height: 300px;

  &:hover {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 40%);
    z-index: unset;
  }
}

.card--image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: unset;
}

.card--copy {
  padding: 1rem;
  z-index: 3;
  width: 100%;
}

.card--title {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.025rem;
  color: $Bright;
  text-transform: uppercase;
}

// .list--container {
//   margin-top: 0.5rem;
// }

// .desc--title {
//   font-size: 0.9rem;
//   color: $Description;
// }

// .ingredients--list {
//   font-size: 0.9rem;
//   margin-top: 0.5rem;
//   list-style: disc outside;
//   padding-left: 1rem;
// }

// .list-item {
//   margin-top: 0.15rem;

//   &:first-child {
//     margin-top: 0;
//   }
// }
